body, pre, textarea {
  font-family: "Open sans","lucida grande","Segoe UI",arial,verdana,tahoma,"Hiragino Kaku Gothic ProN",
              "Osaka","Meiryo UI","Yu Gothic UI",sans-serif;
  margin: 0;
}

a, a:visited, a:hover, a:active, a:focus {
  color: inherit;
  text-decoration: none;
  border: none;
  box-shadow: none;
}

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;
  a, a:visited, a:hover, a:active, a:focus {
    color: $blue;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  color: #eff2f4;
  background-color: $blue;
}

.white {
  color: $black;
  background: #fff;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 8px 0;
}

ul, li {
  list-style-type: none;
  margin: 0;
}

textarea {
  outline: none;
  border: none;
  resize: none;
  font-size: inherit;
}

input {
  outline: none;
  border: none;
  font-size: inherit;
}

button {
  border: none;
  background: none;
  box-shadow: none;
  outline: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  align-items: center;
  max-width: 100%;
  border: 1px solid;
  border-radius: 2px;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  user-select: none;
  justify-content: center;
}

.error {
  color: #FF576F;
}

a.link {
  padding: 0 10px;
  font-weight: 700;
  color: rgb(77, 208, 225);
  &:hover {
    text-decoration: underline;
  }
}

.desc {
  margin-bottom: 10px;
}

.container-center {
  max-width: 400px;
  margin: auto;
}

.el-card {
  width: 80%;
  margin: 50px auto;

  .el-card__header span {
    font-weight: bold;
  }
}